/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
	/* Colors */
	--black-color-00: #000000;

	--primary-color: #ff6136;
	--secondary-color: #ff9700;
	--tertiary-color: #ffb400;

	--white-color-00: #ffffff;

	/* Font Family */
	--title-ff: 'Anton', 'Arial Black', 'Helvetica', sans-serif;
	--text-ff: 'Roboto', 'Helvetica', 'Arial', sans-serif;

	/* Font Weight */
	--normal-fw: 400;
	--medium-fw: 500;

	/* Font Size */
	--base-fs: 1rem;
	--lg-fs: 1.25rem;
	--xxxl-fs: 4.35rem;

	/* Width */
	--container-mw: 1280px;

	/* Padding */
	--container-pi: 0.85rem;

	/* Border Radius */
	--btn-radius: 0.35rem;
}

/***************** General *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--text-ff);
}

body {
	color: var(--white-color-00);
	font-size: var(--base-fs);
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.logo {
	margin-left: -0.5rem;
}

.logo,
.navbar-menu {
	position: relative;
	z-index: 10;
}

.logo img {
	width: 60px;
}

.btn {
	border-radius: var(--btn-radius);
	color: var(--white-color-00);
	font-size: var(--lg-fs);
	text-transform: capitalize;
	text-align: center;
	padding: 0.85rem 3.35rem;
	opacity: 0.85;
	transition: 0.35s ease-in-out;
	font-weight: var(--medium-fw);
}

.btn:hover {
	opacity: 1;
}

/***************** HOME *******************/
#home {
	position: relative;
	min-height: 100vh;
	overflow-x: hidden;
}

#home::before,
#video {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#video {
	object-fit: cover;
	z-index: 0;
}

#home::before {
	z-index: 10;
	background-color: var(--black-color-00);
	opacity: 0.45;
}

#navbar,
#header {
	position: relative;
	z-index: 20;
}

/***************** NABAR *******************/
#navbar {
	position: relative;
}

#navbar::before {
	content: '';
	background-color: var(--black-color-00);
	opacity: 0.35;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: -100%;
}

#navbar:hover::before {
	top: 0;
}

.navbar-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

.navbar-menu {
	display: flex;
	gap: 2rem;
	align-items: center;
	padding-top: 1.5rem;
	height: 100%;
}

.navbar-link {
	color: var(--white-color-00);
	font-size: var(--base-fs);
	font-weight: var(--medium-fw);
}

#navbar::before,
.navbar-link,
.navbar-link::before {
	transition: 0.35s ease-in-out;
}

.navbar-link::before {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: var(--white-color-00);
	margin-bottom: -1.35rem;
}

.navbar-link:hover {
	color: var(--secondary-color);
}

.navbar-link:hover::before {
	width: 100%;
	background-color: var(--secondary-color);
}

/************** End of NABAR ***************/

/***************** HEADER *******************/
.header-content {
	display: flex;
	min-height: calc(100vh - 80px);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2.75rem;
}

.header-title {
	font-size: var(--xxxl-fs);
	text-align: center;
}

.header-title span {
	font-family: var(--title-ff);
	font-size: var(--xxxl-fs);
	font-weight: var(--normal-fw);
}

.header-title span:nth-child(1) {
	color: var(--primary-color);
}

.header-title span:nth-child(2) {
	color: var(--secondary-color);
}

.header-links {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.75rem;
}

.header-links .btn:first-child {
	background-color: var(--tertiary-color);
}

.header-links .btn:last-child {
	background-color: var(--white-color-00);
	color: var(--tertiary-color);
}

/************** End of HEADER ***************/
/************** End of HOME ***************/

/***************** Responsiveness *******************/
@media screen and (max-width: 576px) {
	:root {
		--lg-fs: 1rem;
	}

	.header-links {
		gap: 1rem;
	}
}

@media screen and (max-width: 470px) {
	:root {
		--xxxl-fs: 3.35rem;
	}

	.header-links,
	.btn {
		width: 100%;
	}

	.header-links {
		flex-direction: column;
	}
}

@media screen and (max-width: 370px) {
	.navbar-content {
		justify-content: center;
	}
}
/************** End of Responsiveness ***************/
